/* Vùng connect box */
.connect-box {
    -fx-background-color: #F5F5F5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

/* Vùng chat box */
.chat-box {
    -fx-background-color: #FCFCFC;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

/* Vùng online admin/user box */
.online-box {
    -fx-background-color: #F9F9F9;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

/* ScrollPane */
.message-scroll, .admin-scroll, .user-scroll {
    -fx-background: #FFFFFF;
    -fx-background-color: transparent;
    -fx-padding: 5;
}
