.parent-container {
    -fx-background-color: #ffffff;
}

.main-content-container {
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 25px 0px 0px 0px;
    -fx-border-radius: 25px 0px 0px 0px;
    -fx-effect: dropshadow(gaussian, rgba(46, 45, 45, 0.5), 8, 0, -3, -3);
}

.navigation-button {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.navigation-border {
    -fx-background-color: linear-gradient(to bottom right, #08d792, #7096ff);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.special-scene-navigation-button {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.special-scene-navigation-button:hover {
    -fx-background-color: #d8d8d8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.logo-container {
    -fx-background-color: linear-gradient(to bottom right, #08d792, #7096ff);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.change-theme-button {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.page-title {
    -fx-fill: #000000;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.customer-info-label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.search-bar {
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.search-bar:focused {
    -fx-background-color: #dddddd;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(160, 160, 160, 0.5), 8, 0, -3, 3);
}

.search-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.search-button:hover {
    -fx-background-color: rgba(160, 160, 160, 0.5);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.page-content-container {
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 25px 0px 0px 0px;
    -fx-border-radius: 25px 0px 0px 0px;
}




/*Setting fxml css*/
.setting-root {
    -fx-background-color: #e4e4e4;
}