.slider {
    -fx-background-color: #ffffff;
}

.slider Button {
    -fx-text-fill: white;
    -fx-background-color: #34dda8;
    -fx-background-radius: 24px;
    -fx-border-radius: 24px;
}

.slider Button:hover {
    -fx-text-fill: white;
    -fx-background-color: #23ca95;
    -fx-background-radius: 24px;
    -fx-border-radius: 24px;
    -fx-font-size: 22px;
}

.login-and-register-text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 12px;
    -fx-border-color: #000000;
}

.login-and-register-text-field:focused {
    -fx-background-color: rgba(152, 166, 154, 0);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 15px;
    -fx-border-color: #000000;
}

.register-notification {
    -fx-text-fill: #ff2c2c;
}

.background {
    -fx-background-color: linear-gradient(to bottom right, #a1f3c5, #f4f4c4);
}

.login-register-background-container Button {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-radius: 24px;
    -fx-border-width: 5px;
}

.login-register-background-container Button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #9af4c7;
    -fx-border-color: #73dcab;
    -fx-border-radius: 24px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, rgba(46, 45, 45, 0.5), 10, 0, 2, 2);
    -fx-font-size: 22px;
}

.login-register-background-container Label {
    -fx-text-fill: #ffffff;
}


/*Dashboard*/
.navigation-bar {
    -fx-background-color: linear-gradient(to bottom right, #509a93, #89be94);
    -fx-border-radius: 0px 15px 15px 0px;
    -fx-background-radius: 0px 15px 15px 0px;
}

.navigation-bar Button {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 25px;
    -fx-border-color: #ffffff;
    -fx-border-width: 5px;
}

.navigation-bar Button:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 27px;
    -fx-text-fill: linear-gradient(to bottom right, #93f1ba, #dafbd3);
    -fx-border-radius: 27px;
    -fx-border-color: linear-gradient(to bottom right, #93f1ba, #dafbd3);
    -fx-border-width: 5px;
}

.search-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: linear-gradient(to bottom right, #93f1ba, #c0e8b9);
    -fx-border-width: 2px;
}

.search-bar:focused {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: linear-gradient(to bottom right, #74d897, #c5ecc5);
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(25, 24, 24, 0.5), 10, 0, 2, 2);
}

.search-bar-element {
    -fx-background-color: transparent;
}

.dashboard-background {
    -fx-background-color: transparent;
}

.individual-bar {
    -fx-background-color: linear-gradient(to bottom right, #509a93, #89be94);
    -fx-border-radius: 0px 0px 0px 15px;
    -fx-background-radius: 0px 0px 0px 15px;
}

.individual-bar Label {
    -fx-text-fill: #ffffff;
}

.individual-button-container {
    -fx-background-color: linear-gradient(to bottom right, #509a93, #89be94);
    -fx-border-radius: 15px 0px 15px 15px;
    -fx-background-radius: 15px 0px 15px 15px;
}

.individual-button-container Button {
    -fx-background-color: transparent;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-text-fill: #ffffff;
}

.individual-button-container Button:hover{
    -fx-background-color: linear-gradient(to bottom right, #20957e, #3d9f4a);
    -fx-text-fill: #ffffff;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.avatar {
    -fx-background-color: transparent;
}

.navigation-button-border {
    -fx-background-color: #ffffff;
    -fx-background-radius: 28px 0px 0px 28px;
    -fx-border-radius: 28px 0px 0px 28px;
    -fx-border-width: 5px 0px 5px 5px;
    -fx-border-color: linear-gradient(to right, #93f1ba, #b7fbaa) transparent
    linear-gradient(to right, #93f1ba, #b7fbaa) #93f1ba;
    -fx-effect: dropshadow(gaussian, rgba(25, 24, 24, 0.5), 10, 0, -5, 5);
}

.sub-button-border {
    -fx-background-color: #ffffff;
    -fx-border-width: 5px 0px 5px 0px;
    -fx-border-color: #b7fbaa;
}

.selected {
    -fx-background-radius: 27px 0px 0px 27px;
    -fx-border-radius: 27px 0px 0px 27px;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.selected:hover {
    -fx-background-radius: 27px 0px 0px 27px;
    -fx-border-radius: 27px 0px 0px 27px;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.main-content-container {
    -fx-border-color: linear-gradient(to bottom right, #b7fbaa, #93f1ba);
    -fx-background-radius: 15px;
    -fx-background-color: #ffffff;
    -fx-border-width: 5px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(25, 24, 24, 0.5), 10, 0, -5, 5);
}

.dashboard-content-container {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-width: 5px;
    -fx-border-color: linear-gradient(to right, #93f1ba, #b7fbaa);
    -fx-effect: dropshadow(gaussian, rgba(25, 24, 24, 0.5), 7, 0, -5, 5);
}

.dashboard-content-title {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-fill: linear-gradient(to bottom right, #509a93, #89be94);
}

.dashboard-book-block {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to bottom right, #20957e, #3d9f4a);
    -fx-effect: dropshadow(gaussian, rgba(14, 13, 13, 0.5), 5, 0, -3, 3);
}

.dashboard-book-block Button {
    -fx-background-color: #ffffff;
    -fx-border-radius: 12px;
    -fx-background-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(to bottom right, #509a93, #89be94);
    -fx-text-fill: linear-gradient(to bottom right, #509a93, #89be94);
}

.dashboard-book-block Button:hover {
    -fx-background-color: linear-gradient(to bottom right, #509a93, #89be94);
    -fx-border-radius: 12px;
    -fx-background-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(to bottom right, #509a93, #89be94);
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(14, 13, 13, 0.5), 5, 0, -2, 2);
}